<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\SVC-ISCSQL\envlms\Scripts\python.exe|C:\Users\SVC-ISCSQL\envlms\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".m4a" mimeType="video/webm" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
    </system.webServer>
</configuration>